.button__edit {
    background-color: #f25000;
    border: 0.5px solid #000;
    transition: all 300ms;
}

.button__edit:hover {
    background-color: #000;
    border: 1px solid #fff;
}

.card {
    width: 25%;
}

.container-propio {
    display: flex;
    gap: 5px;
}










